*.pyc
.DS_Store
exogaia/_version.py
docs/_build/
docs/tutorials/.ipynb_checkpoints/
docs/tutorials/multinest/
docs/tutorials/exogaia.pkl
docs/tutorials/*.png
docs/tutorials/*.csv
build/
dist/
exogaia.egg-info/
.coverage*
coverage.xml
.pytest_cache/
htmlcov/
.tox/
